<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-flex-container">
      <div>
        <img class="profile-pic" src="/files/images/4lc5vc84.png" alt="Profile picture">
      </div>
      <div class="footer-info-container">
        <div>
          {%- if site.title -%}
          {{ site.title | escape }}
          {%- endif -%}
        </div>
        <div class="footer-subtitle">
          {%- if site.description -%}
          {{ site.description | escape }}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</footer>