<footer class="site-footer">
  <div class="container center dflex sbetween">
    <div class="contact-card dflex">
      <div>
        <img class="profile-pic" src="/files/images/4lc5vc84.png" alt="Profile picture">
      </div>
      <div>
        <div>
          {%- if site.title -%}
          {{ site.title | escape }}
          {%- endif -%}
        </div>
        <div class="footer-subtitle">
          {%- if site.description -%}
          {{ site.description | escape }}
          {%- endif -%}
        </div>
      </div>
    </div>
    <div class="action-card">
      <span>Donate</span>
    </div>
  </div>
</footer>