html {
    font-size: 16px;
    box-sizing: border-box;
}

.header-title,
.header-title:hover,
.header-title:visited {
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 1.4rem;
    letter-spacing: -0.05rem;
    text-decoration: none;
    color: #999999;
}

.linkedin-icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0.5rem;
    fill: #999999;
}

.page-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    padding-bottom: 0;
}

.site-footer {
    padding: 0;
}

h1 {
    font-size: 2.5rem !important;
}

h2 {
    font-size: 1.5rem !important;
}

h3 {
    font-size: 1.2rem !important;
}

.dflex {
    display: flex;
    align-items: center;
}

.sbetween {
    justify-content: space-between;
}

.container {
    max-width: 800px;
    padding: 1rem;
    box-sizing: border-box;
}

.center {
    margin: 0 auto;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding-right: 10px;
}

.footer-subtitle {
    font-size: 0.6rem;
    color: #999999;
    max-width: 100px;
}

.bmc {
    width: 150px;
}

.post-content img {
    width: 95%;
    margin: auto;
    display: block;
}

.slinks a, .slinks a:hover{
    font-size: 0.7rem;
    text-decoration: none;
    display: block;
    color: #000;
    line-height: 1.5rem;

}
